<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openxcplatform.openxcstarter"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--
    ACCESS_NETWORK_STATE – To check network state i.e if we are connected to any network or not.
    INTERNET – If we are connected to Internet or not.
    ACCESS_COARSE_LOCATION – To determine user’s location using WiFi and mobile. It will give us an approximate location.
    ACCESS_FINE_LOCATION – To determine user’s location using GPS. It will give us precise location.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity
            android:name="com.openxc.openxcstarter.StarterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.openxc.VehicleManager"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDoBsFZz137zkbG8welTmUq19XRCCQ0cgY" />

    </application>

</manifest>
